    <nav style="background:grey; padding:20px">
        <ul>
            <li> <a href="Inicio.html"></a>Inicio</li>
            <li> <a href="/Nosotros.html"></a>Nosotros</li>
        </ul>
    </nav>